// :root{
//     /*color*/
//     --main-color:#e23f3d;
//     --text-color:#333;
//     --text-reverse-color:#d3d3d3;
//     --text-tips-color:#b2b2b2;
//     --text-description-color:#666;
//     --border-color:#e0e0e0;
    // --base-page-color:#fff;
//     --bg-color: #E3E3E3;
//     --bg-content-color: #e3e7e8;
//     --bg-coupon-color: #f2f4f5;
//     --bg-disabled-color: #e0e0e0;
//     --bg-dark-color: #000;
//     --star-color:#ff9900;
//     --bg-view-color:#f2f5f5;
//     --nav-bg-color:#fff;
//     --labels-type-color:#ffcc00;
//     --labels-language-color:#333;
//     --labels-came-color:#33cc99;
//     --labels-recently-color:#66ccff;
// }
$bg-color:#E3E3E3;
$text-tips-color:#b2b2b2;
$text-color:#333 ;

$main-color:#e23f3d ;
$nav-bar-color:#fff ;
$border-color:#e23f3d;
$base-view-color:#fff;
$bg-content-color:#e3e7e8;

$dark-color:#e3e3e3;

$btn-bg-color:#e23f3d;
$labels-type-color:#ffcc00;
$text-reverse-color:#d3d3d3;